In [1]:
import pandas as pd

In [2]:
%pwd

'/home/nbuser/library'

In [3]:
d =  pd.read_csv('Diabetes.csv')

In [4]:
d.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null int64
BloodPressure               768 non-null int64
SkinThickness               768 non-null int64
Insulin                     768 non-null int64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [6]:
#d.fillna(0)
#d.dropna
d2 = d[['Glucose','BMI','Age','Outcome']]

In [7]:
d2.head()

   Glucose   BMI  Age  Outcome
0      148  33.6   50        1
1       85  26.6   31        0
2      183  23.3   32        1
3       89  28.1   21        0
4      137  43.1   33        1

In [8]:
d3 = d2.loc[~(d2[d2.columns[:-1]]==0).any(axis=1)]

In [9]:
d3.describe()

          Glucose         BMI         Age     Outcome
count  752.000000  752.000000  752.000000  752.000000
mean   121.941489   32.454654   33.312500    0.351064
std     30.601198    6.928926   11.709395    0.477621
min     44.000000   18.200000   21.000000    0.000000
25%     99.750000   27.500000   24.000000    0.000000
50%    117.000000   32.300000   29.000000    0.000000
75%    141.000000   36.600000   41.000000    1.000000
max    199.000000   67.100000   81.000000    1.000000

In [11]:
d3.groupby('Outcome').mean()

            Glucose        BMI        Age
Outcome
0        110.825820  30.876434  31.309426
1        142.488636  35.371970  37.015152

In [13]:
d3.groupby('Outcome').agg({'Glucose':'mean','BMI':'median',"Age":'sum'})

            Glucose    BMI    Age
Outcome
0        110.825820  30.10  15279
1        142.488636  34.25   9772

In [14]:
d3.groupby('Outcome').agg(['mean',"median"])

            Glucose               BMI               Age
               mean median       mean median       mean median
Outcome
0        110.825820  107.5  30.876434  30.10  31.309426     27
1        142.488636  140.5  35.371970  34.25  37.015152     36

In [15]:
positive  = d3.loc[d3['Outcome'] ==1]

In [16]:
negative = d3.loc[d3['Outcome'] ==0]

In [17]:
print(positive.shape,negative.shape)

(264, 4) (488, 4)

In [18]:
d3.to_csv('clean_diabetes.csv',index=False)